<!--    navbar       -->
    <nav class="navbar navbar-default" role="navigation" id="navbar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="/#!/">Muse Stock Exchange</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/#!/about" class="btn btn-simple">About</a>
                    </li>
                    <li>
                        <a href="/#!/profile" class="btn btn-simple">Profile</a>
                    </li>
                    <li data-ng-if="!currentUser">
                        <a  class="btn btn-simple" data-toggle="modal" data-target="#registerModal">Sign Up</a>
                    </li>
                    <li data-ng-if="!currentUser">
                        <a  class="btn btn-simple" data-toggle="modal" data-target="#loginModal">Log in</a>
                    </li>
                    <li data-ng-if="currentUser">
                        <a  data-ng-click="logout()" class="btn btn-simple">Log out</a>
                    </li>
                    <li>
                        <a  target="_blank" class="btn btn-simple"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a  target="_blank" class="btn btn-simple"><i class="fa fa-facebook"></i></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-->
    </nav>
    <!-- end navbar  -->
    <div class="alert alert-danger landing-alert">
        <div class="container text-center">
            <h5>Alerts will come here</h5>
        </div>
    </div>