<div class="wrapper">
        <!-- content come here     -->
        <!--<div class="landing-header" style="background-image: url('./assets/paper_img/cat.jpg');">-->
        <div class="landing-header">
            <div class="container">
                <div class="motto">
                    <h1 class="title-uppercase">Muse Stock Exchange</h1>
                    <h3>A training pit simualtion</h3>
                    <br/>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn"><i class="fa fa-play"></i>Watch video</a>
                    <a class="btn">Get The Andorid App</a>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="section text-center landing-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2>Why me do this?</h2>
                            <h5>The intention was get some practice building a service-oriented architecture based platform with
                                Java EE and Android. A stock exchange simulation was chosen because the functional requirements
                                present an opportunity to hopefully make use obscure Java EE features.
                            </h5>
                            <br />
                            <a href="/#!/tradingpit" class="btn btn-danger btn-fill">Dive into the pit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>