<link href="assets/css/muse.css" rel="stylesheet" />
<div data-ng-controller="pitController" class="wrapper">
    <div class="main">
        <div class="row">
            <div>
                <div class="row">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ul id="pitTabs" class="nav nav-tabs" data-tabs="tabs">
                                        <li class="active"><a ng-init="initSummaryTab()" ng-click="initSummaryTab()" href="#summary" showtab=""
                                                data-toggle="tab">Summary</a></li>
                                        <li><a href="#all" showtab="" ng-click="initAllOrdersTab()" data-toggle="tab">All Orders</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id="pitTabsContent" class="tab-content">
                                <div class="tab-pane active" id="summary">
                                    <div class="col-md-8">
                                        <table class="table table-striped table-hover table-fixed-scroll">
                                            <thead>
                                                <th>
                                                    stock
                                                </th>
                                                <th>
                                                    total demand
                                                </th>
                                                <th>
                                                    total supply
                                                </th>
                                                <th>
                                                    best bid
                                                </th>
                                                <th>
                                                    best ask
                                                </th>
                                                <th>
                                                    prev close
                                                </th>
                                                <th>
                                                    last price
                                                </th>
                                                <th>
                                                    change
                                                </th>
                                                <th>
                                                    turn over
                                                </th>
                                                <th>
                                                    deals
                                                </th>
                                                <th>
                                                    time
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="quote in quotes" style="cursor:pointer" onclick="document.location = '/#!/company';">
                                                    <td>
                                                        {{quote.stockId}}
                                                    </td>
                                                    <td>
                                                        {{quote.totalDemand}}
                                                    </td>
                                                    <td>
                                                        {{quote.totalSupply}}
                                                    </td>
                                                    <td>
                                                        {{quote.bestBid}}
                                                    </td>
                                                    <td>
                                                        {{quote.bestAsk}}
                                                    </td>
                                                    <td>
                                                        {{quote.prevClose}}
                                                    </td>
                                                    <td>
                                                        {{quote.lastPrice}}
                                                    </td>
                                                    <td>
                                                        {{quote.change}}
                                                    </td>
                                                    <td>
                                                        {{quote.turnOver}}
                                                    </td>
                                                    <td>
                                                        {{quote.deals}}
                                                    </td>
                                                    <td>
                                                        {{quote.time}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-4">
                                        <div order-panel></div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="all">
                                    <div class="col-md-8">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <th>Stock</th>
                                                <th>type</th>
                                                <th>units</th>
                                                <th>price</th>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="order in orders" style="cursor:pointer" ng-click="updateOrderSelection(order)">
                                                    <td>{{order.stock.stockId}}</td>
                                                    <td>{{order.type}}</td>
                                                    <td>{{order.units}}</td>
                                                    <td>{{order.price}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4>Respond To Order</h4>
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label for="sel2">Action</label>
                                                    <input type="text" class="form-control" readonly ng-model="satisfactionAction" />


                                                    <label for="sel1">Counter:</label>
                                                    <input type="text" class="form-control" readonly ng-model="satisfactionStock" />

                                                    <label for="units">Units:</label>
                                                    <input ng-model="satisfactionUnits" type="text" value="" placeholder="Units" class="form-control" />

                                                    <label for="price">Price:</label>
                                                    <input type="text" class="form-control" readonly ng-model="satifactionPrice" />

                                                    <button class="btn btn-danger">Uum..No</button>
                                                    <button class="btn btn-success" ng-click="respondToOrder()">Yep!..Do It</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Market summary</h4>
                            </div>
                            <div class="panel-body">
                                <table class="table table-condensed">
                                    <tbody>
                                        <tr>
                                            <td>Stocks</td>

                                            <td>Bonds</td>

                                            <td>Commodities</td>
                                        </tr>
                                        <tr>
                                            <td>18,636.05</td>
                                            <td>2,258</td>
                                            <td>150</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Indices</h4>
                            </div>
                            <div class="panel-body">
                                <table class="table table-condensed">
                                    <tbody>
                                        <tr>
                                            <td>FTSE ASEAN PA</td>
                                            <td>18,636.05</td>
                                        </tr>
                                        <tr>
                                            <td>FTSE NSE 15</td>
                                            <td>18,636.05</td>
                                        </tr>
                                        <tr>
                                            <td>FTSE NSE 25</td>
                                            <td>2,258</td>
                                        </tr>
                                        <tr>
                                            <td>FTSE BOND INDX</td>
                                            <td>150</td>
                                        </tr>
                                        <tr>
                                            <td>NSE 20</td>
                                            <td>150</td>
                                        </tr>
                                        <tr>
                                            <td>NSE 25</td>
                                            <td>150</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-4">
            <div order-panel></div>
        </div>-->
        </div>
    </div>
</div>